@import "/app/node_modules/bootstrap/scss/bootstrap.scss";

.shell {
  background: orange;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.sticky-header {
  position: sticky;
  top: 0;
  background: #212529;
  z-index: 10;
}

// html {
//   font-size: 14px;
// }
// @media (min-width: 768px) {
//   html {
//     font-size: 16px;
//   }
// }

// .container {
//   max-width: 960px;
// }

// .pricing-header {
//   max-width: 700px;
// }

// .card-deck .card {
//   min-width: 220px;
// }

// .border-top { border-top: 1px solid #e5e5e5; }
// .border-bottom { border-bottom: 1px solid #e5e5e5; }

// .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

// .app {
//   display: grid;
//   grid-template-columns: 150px auto;
//   min-height: 100vh;

//   font-family: Arial, Helvetica, sans-serif;

//   > nav {
//     height: 100vh;
//     overflow: scroll;

//     .logo {
//       position: sticky;
//       top: 0;

//       display: flex;
//       align-items: center;
//       justify-content: center;
//       padding: 20px 0;

//       text-decoration: none;
//       font-weight: 700;
//       color: #000;
//     }

//     ul {
//       li {
//         a {
//           display: flex;
//           padding: 5px 3px;
//           font-size: 14px;
//           text-decoration: none;

//           &:hover {
//             text-decoration: underline;
//             background: rgba(0, 0, 0, 0.5);
//           }
//         }
//       }
//     }
//   }

//   .models {
//     // height: 100vh;
//     // overflow: scroll;
//     // position: sticky;
//     // top: 0;

//     .model {
//       margin-bottom: 10px;

//       h4 {
//         padding: 10px;
//         border-bottom: solid 1px grey;
//       }
//     }

//     a {
//       display: flex;
//       align-items: center;
//       padding: 10px;

//       &:hover {
//         background: #efefef !important;
//       }

//       &:nth-of-type(odd) {
//         // background: FFFFFF;
//       }
//       &:nth-of-type(even) {
//         background: #fafafa;
//       }
//     }
//   }

//   .stage {
//     margin: 10px;

//     header {
//       display: flex;
//       flex-direction: row;
//       align-items: end;

//       .hero {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         margin-right: 10px;

//         cursor: pointer;

//         .image {
//           width: 100px;
//           height: 100px;
//           background: #EEE;
//         }

//         .text {
//           font-size: 12px;
//           text-decoration: underline;
//         }
//       }
//     }

//     h2 {
//       font-size: 24px;
//       line-height: 24px;
//       padding: 21px 0 5px 5px;
//       border-bottom: solid 1px #808080;
//       flex-grow: 1;

//       small {
//         font-size: 12px;
//         margin-left: 10px;
//       }
//     }

//     section {
//       &:not(:first-of-type) {
//         margin-top: 20px;
//       }

//       h3 {
//         font-size: 18px;
//         font-weight: 700;
//         margin-bottom: 5px;

//         color: #666666;
//         border-bottom: solid 1px #666666;
//       }
//     }

//     .about {
//       margin: 10px;
//       font-size: 14px;
//       line-height: 18px;
//     }

//     .gallery {
//       position: absolute;
//       top: 20px;
//       left: 170px;
//       right: 20px;
//       bottom: 20px;
//       background: #FFF;
//       border: solid 1px #000;
      
//       display: flex;
//       flex-direction: column;

//       .close {
//         position: absolute;
//         top: 10px;
//         right: 10px;
//         width: 30px;
//         height: 30px;
//         cursor: pointer;

//         display: flex;
//         align-items: center;
//         justify-content: center;
//       }

//       .lightbox {
//         flex-grow: 1;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         margin: 10px;

//         img {
//           height: inherit;
//           width: inherit;
//           object-fit: contain;
//         }
//       }

//       .scrubber {
//         display: flex;
//         flex-direction: row;
//         flex-wrap: nowrap;
//         gap: 10px;
//         padding: 0 10px 10px;;
//         overflow-y: scroll;

//         .image {
//           cursor: pointer;
//           height: 100px;
//           width: 100px;

//           border: solid 2px rgba(0, 0, 0, 0);

//           &.active {
//             border: solid 2px #000;
//           }
//         }
//       }

//       .prev, .next {
//         background: orange;
//         height: 20px;
//         width: 20px;
//         position: absolute;
//         top: calc(50% - 10px);
//       }

//       .prev {
//         left: 10px;
//       }
//       .next {
//         right: 10px;
//       }
//     }
//   }
// }

// .car_list {
//   .car {
//     padding: 10px 0;
//   }
// }