{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}{{ car.id }}{% endblock %}</h2>
{% endblock %}

{% block content %}
  <div class="car_detail">
    <div class="info">
      {% if car.owner %}<div>{{ car.owner.name }}</div>{% endif %}
      {% if car.title %}<div>Title: {{ car.title }}</div>{% endif %}
      <div>Location: {{ car.last_known_location }}</div>
      {% if car.description %}<div>{{ car.description }}</div>{% endif %}
    </div>

    {% for i in images.items %}
      <img src="/media/{{ i.thumbnail }}" />
    {% endfor %}
  </div>
{% endblock %}