{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}index and photo gallery{% endblock %}</h2>
{% endblock %}

{% block content %}
  <div id="app"></div>
  <script type="application/json" id="stuff">
    {{ cars_index|tojson }}
  </script>
{% endblock %}
